@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Inter',sans-serif;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: black;
    font-weight: 400;
}

.title {
    font-size: 60px;
    line-height: 64px;
    letter-spacing: 0px;
}

.subtitle {
    font-size: 32px;
    line-height: 26px;
    letter-spacing: 0px;
}


.title-card {
    font-size: 26px;
}

.content-card {
    font-size: 16px;

}


.content {
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0px;
}

.input-group {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.input-form {
    background: transparent;
    padding: 20px 24px 20px 24px;
    border-radius: 30px;
    border: none;
    border: 1px solid black;
}


.hero {
    width: 100%;
    min-height: 100vh;
    background: url('../images/hero.jpg') no-repeat center / cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 50%;
    max-width: 800px;
}

.info {
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.button-about {
    border-radius: 100px;
    width: fit-content;
    border: 1px solid black;
    padding: 18px 32px 18px 32px;
    background: transparent;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}


.button-about:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}

.project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    gap: 28px;
}

.project .title {
    margin-top: 20px;
}

.project-cards {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 60px;
}

.card-horizontal {
    display: flex;
    flex-direction: row;
    gap: 28px
}

.project-image {
    width: 358px;
    height: 254px;
    object-fit: contain;
}


.card-left-side {
    display: flex;
    flex-direction: column;
    gap: 28px;  
}

.right-side {
    display: flex;
    justify-content: center;
    align-items: center;
}

.blog {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #E4E4E4;
    justify-content: center;
    align-items: center;
    gap: 64px;
}

.blog .title {
    margin-top: 112px;
}

.blog-cards {
    display: grid;
    flex-direction: row;
    width: 59%;
    gap: 44px;
    padding: 20px 24px 20px 24px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.blog-card {
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 32px 24px 32px 24px;
    border-radius: 16px;
}

.blog-card-body {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.blog-card-date {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    color: #B6BCBF;
    font-weight: 700;
    margin-top: auto;
}


.blog-button {
    background-color: white;
    padding: 20px 111px 20px 111px;
    border-radius: 80px;
    border-color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    border: none;
    font-weight: 500;
    margin-bottom: 124px;
}


.blog-button:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}


.about-me {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 44px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.about-me-content {
    display: grid;
    width: 62%;
    grid-template-columns: 1fr 1fr;
    max-width: 1200px;
    gap: 36px;
}

.about-me-content-left, .about-me-content-right {
    display: flex;
    flex-direction: column;
    gap: 40px
}

.about-me-content-left-group, .about-me-content-right-group {
    display: flex;
    flex-direction: column;
    gap: 16px
}

.about-me-content-left-group ul {
    list-style-position: inside;
}

.about-me-content-icons {
    display: flex;
    flex-direction: row;
    gap: 32px;
    flex-wrap: wrap;
}

.about-me-icon {
    width: 57px;
    height: 57px;
}


.contact {
    width: 100%;
    min-height: 100vh;
    background-color: #E4E4E4;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.contact-content {
    display: flex;
    flex-direction: column;
    gap: 40px;
    max-width: 600px;
}

.contact-content-form form{
    display: flex;
    flex-direction: column;
    gap: 28px;
    width: 100%;
    background-color: white;
    padding: 18px 39px 18px 39px;
    border-radius: 20px;
}

.contact-form-button {
    background-color: #2F71E5;
    border: 1px solid #2F71E5;
    padding: 18px 32px 18px 32px;
    border-radius: 100px;
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
    box-sizing: border-box;
}

.contact-form-button:hover {
    border: none;
    border: 1px solid #2F71E5;
    background-color: transparent;
    color: #2F71E5;
}

.contact-content-form, .contact-content-social {
    display: flex;
    flex-direction: column;
    gap: 36px;
}

.contact-content-header-form, .contact-content-header-social {
    background-color: white;
    border-radius: 20px;
    text-align: center;
}

.contact-content-header-form {
    padding: 25px 51px 25px 51px;
}

.contact-content-header-social {
    padding: 26px 30px 26px 30px;
}

.contact-content-social-icons {
    padding: 43px 68px 43px 68px;
    background-color: white;
    display: flex;
    flex-direction: row;
    gap: 100px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    flex-wrap: wrap;
}

.footer-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 41px 25% 20px 25%;
    font-weight: 700;
}

.footer-content-links {
    list-style-position: inside;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.footer-list-links {
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style: none;
}

.footer-list-item a {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.footer-list-icon {
    width: 20px;
    height: 20px;
}

.footer-end {
    background-color: black;
    color: white;
    padding-left: 20%;
    padding-top: 12px;
    padding-bottom: 11px;
}


@media (max-width: 992px) {
    .card-horizontal {
        flex-direction: column;
    }
}


@media (max-width: 768px) {
    .title {
        font-size: 36px;
        line-height: 42px;
    }

    .subtitle {
        font-size: 19px;
    }

    .title-card {
        font-size: 22px;
    }

    .container {
        width: 90%;
    }

    .card-horizontal {
        flex-direction: column;
    }

    .blog-cards {
        display: flex;
        flex-direction: column;
        width: 80%;
    }

    .about-me-content {
        display: flex;
        flex-direction: column;
    }

    .project-image {
        width: 258px;
        height: 154px;
    }

    .blog-button {
        width: 70%;
    }

}

@media (max-width: 480px) {

    .footer-content {
        flex-direction: column;
        gap: 20px
    }
}